body {
    background-color: lightgoldenrodyellow;
}

.content {
display: flex;
justify-content: center;
}

.headerDiv {
    background-color: yellow;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
    font-size: 45px;
    

} 


.p {
    text-align: center;
    font-size: 30px;
}
