body {
    background-color: lightgoldenrodyellow;
}

.content {
display: flex;
justify-content: center;
align-items: center;
}

.headerDiv {
    background-color: yellow;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
    font-size: 45px;
    

} 

img{
    position: relative;
    left: 45%;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}


.p {
    text-align: center;
    font-size: 30px;
    background-color: yellow;
    width: 900px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10vh;
    line-height: 2;
    
}
